*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  max-width: 1300px;
  margin:0 auto;
}
.flex-wrap{
flex-wrap: wrap;
}
.space-evenly{
  justify-content: space-evenly;
}
body{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.flex{
  display: flex;
}
.bg-black{
background-color: black;
}
/* header */
header{
height: 60px;
}
.text{
  padding: 10px 5px 0 0;
  justify-content: flex-end;
}
.text span,.text-row,.chevron{
  font-size: 12px;
}
.text span{
  background-color: rgb(74, 74, 74);
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}


/* /headr */

/* main */

main{
height: calc(100vh - 130px);
}
.main{
  width:100% ;
  height:100% ;
  overflow: auto;
}
.foto{
  position: relative;
}
img{
  width: 180px;
  height: 110px;
  object-fit: cover;
}
.nome{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
  font-size: 14px;
}


/* /main */


/* footer */

footer{
  height: 70px;
  background-color: #222222;
  justify-content: space-between;
}
.first-row,.second-row,.third-row{
  padding: 10px;
}

.icona{
  display: block;
  font-size: 20px;
}
footer span{
  text-align: center;  
  margin-right: 15px;
}
.share{
  color: lawngreen;
}
.third-row{
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a;
  width: 140px;
}
.third-row{
  color: red;
}


/* /footer */


